body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.events-container {
    height: 80vh;
    overflow-y: auto;
    width: 60%;
    padding: 20px;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.event:hover {
    transform: translateY(-10px);
}

.event img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.details-container {
    width: 35%;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.details-container button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    font-size: 16px;
}

.details-container button:hover {
    background-color: #111;
}

.details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.create-event-form {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    padding-right: 30px;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -25%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input, .form-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-field button:hover {
    background-color: #111;
}